@media screen and (max-width: 767px) {
  /* ------------------------------------------------ common declarations*/
  .search,
  .hosting,
  .popular,
  .activity,
  .footer {
    width: 100%;
    border-radius: 0;
    padding: 1.25rem;
  }
  /* ------------------------------------------------ Header*/
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . signup" "navbar navbar navbar";
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .header__nav {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .header__nav > a {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
  }
  .header__nav > a[data-active="true"] {
    border-top: 0;
    border-bottom-color: #0065fc;
  }
  .header__nav > a:hover {
    border-top: 0;
    border-bottom-color: #0065fc;
  }
  /* ------------------------------------------------ Search */
  .search__form {
    width: 100%;
  }
  .search__input {
    width: 1rem;
    flex: 1;
  }
  .search__submit > span {
    display: none;
  }
  .search__submit > i {
    display: block;
  }
  .search__filters > h2 {
    width: 100%;
  }
  .search__items {
    margin-right: 0.8rem;
  }
  .search__items > span {
    font-size: 1.45ch;
    font-weight: 600;
  }
  /* ------------------------------------------------ Result */
  .result {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "popular" "hosting";
    gap: 0;
  }
  /* ------------------------------------------------ Hosting / Popular */
  .hosting {
    background-color: transparent;
  }
  .hosting__card .card {
    width: 100%;
    flex: 1 0 auto;
  }
  .hosting__card .card__picture {
    height: 7.125rem;
  }
  .hosting__card > .card a,
  .popular__card > .card a {
    max-width: 100%;
  }
  /* ------------------------------------------------ Activity */
  .activity {
    margin-top: 1rem;
  }
  .activity__card {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: repeat(5, 12.25rem 2.5rem) 12.25rem;
    grid-template-areas: "A1" "." "A2" "." "A3" "." "A4" "." "A5" "." "A6";
    max-width: 100%;
  }
  .activity__card .card__picture {
    width: 100%;
  }
  /* ------------------------------------------------ Footer */
  .footerContent {
    flex-direction: column;
  }
}
