@media screen and (min-width: 768px) and (max-width: 1320px) {
  /* ------------------------------------------------ common declarations*/
  .search,
  .hosting,
  .popular,
  .activity,
  .footer {
    width: 100%;
    border-radius: 0;
    padding: 1.25rem;
  }
  /* ------------------------------------------------ Header*/
  .header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header__nav {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  /* ------------------------------------------------ Search */
  .search__form {
    display: flex;
    width: 100%;
  }
  .search__input {
    flex: 1;
  }

  .search__submit > i {
    display: none;
  }
  .search__filters > h2 {
    width: 100%;
  }
  .search__items {
    margin-right: 0.8rem;
  }
  .search__items > span {
    font-size: 1.45ch;
    font-weight: 600;
  }
  /* ------------------------------------------------ Result */
  .result {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    grid-template-areas: "popular" "hosting";
  }
  /* ------------------------------------------------ Hosting / Popular */
  .hosting {
    background-color: transparent;
  }

  .hosting__card > .card {
    flex: 1 0 33%;
  }
  .hosting__card > .card a {
    max-width: unset;
  }
  .hosting__more {
    text-align: right;
  }
  .popular__card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .hosting__card .card__picture {
    height: 14rem;
  }
  .popular__card > .card a {
    flex-direction: column;
  }
  .popular__card .card__picture {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .popular__card .card__description {
    height: 5rem;
  }
  /* ------------------------------------------------ Activity */
  .activity {
    margin-top: 1rem;
  }
  .activity__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12.25rem 12.25rem 12.25rem;
    grid-template-areas:
      "A1 A2"
      "A3 A4"
      "A5 A6";
    gap: 2rem;
  }
  .activity__card > .card {
    flex: 1 0 33.3333%;
  }
  .activity__card .card__picture {
    max-width: 100%;
  }
}
